@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  background-color: #ffffff;
  font-family: "Georama", sans-serif;
}

a:hover {
  color: #ffffff;
  transition: ease-in-out 0.3s all;
}

a {
  transition: ease-in-out 0.3s all;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #373c42;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #373c42;
  transition: max-height 0.3s;
  max-height: 90px;
  overflow: auto;
}

.header__social {
  display: flex;
  padding-top: 19px;
  padding-bottom: 10px;
}

.header__account-list {
  display: flex;
  padding-top: 19px;
  padding-bottom: 10px;
}

.header__account-link {
  color: #999999;
}

.header__account-item:nth-child(2).header__account-item:after,
.header__account-item:nth-child(2).header__account-item:before {
  content: "|";
  color: #999999;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.header__hide-header {
  position: absolute;
  top: 97%;
  right: 2%;
  width: 30px;
  max-height: 25px;
  background-color: #373c42;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 10;
  cursor: pointer;
}
.hidden {
  transition: max-height 0.3s;
  max-height: 0;
  opacity: 0;
}
.showButton {
  position: absolute;
  top: 0;
  right: 2%;
  width: 30px;
  height: 25px;
  background-color: #373c42;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 10;
}

.header__hide-header span {
  display: block;
  padding-left: 7px;
  padding-top: 3px;
  color: #ffffff;
}

.search {
  display: flex;
}

.search__area {
  position: relative;
}

.search input[type="search"] {
  max-width: 218px;
  height: 33px;
  padding: 2px 8px;
  background-color: #65717c;
  outline: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: #ffffff;
}

.search__placeholder {
  position: absolute;
  left: 10px;
  top: 30%;
}

.search__btn input[type="submit"] {
  width: 75px;
  height: 33px;
  padding: 2px;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #31363c;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.search__btn {
  position: relative;
}

.search__btn-text {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.search__btn {
  color: #ffffff;
}
.search__btn input[type="submit"]:hover {
  background-color: #4c555e;
  border: 2px solid #31363c;
}
.social {
  padding-right: 10px;
}

.fa-2x {
  font-size: 16px;
  width: 32px;
  height: 32px;
}

.social a {
  text-align: center;
  background-color: #4c555e;
  border-radius: 50%;
  padding: 9px 6px;
}

.google-pluse a:hover {
  background: #dd4b39;
  color: #fff;
}

.twitter a:hover {
  background: #00acee;
  color: #fff;
}

.pinterest a:hover {
  background: #c8232c;
  color: #fff;
}

.linkedin a:hover {
  background: #0e76a8;
  color: #fff;
}

.rss a:hover {
  background: #f93;
  color: #fff;
}

.header__search {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #4c555e;
  display: flex;
  justify-content: space-between;
}

.header__search::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
  background-color: #4c555e;
  z-index: -1;
}

.header__title {
  padding-top: 45px;
  padding-left: 20px;
  color: #ffffff;
}

.header__title h2 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
}

.header__title h2 span {
  font-size: 36px;
}

.header__title p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #999999;
}

.header__search-form {
  padding-top: 58px;
  padding-right: 20px;
}

.content__inner {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 46px;
  border-top-left-radius: 7px;
  border-top-right-radius: 8px;
  background-color: #ffffff;
}

.menu {
  background-color: #31363c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.menu__wrapper {
  display: flex;
  justify-content: space-around;
  width: 75%;
  transition: ease 0.2s all;
}

.menu__item {
  padding: 20px 20px;
  transition: 0.3s ease-in-out all;
}

.menu__link {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ffffff;
}

.menu__item:hover {
  background-color: #202326;
  transition: 0.3s ease-in-out all;
}

.menu__item:first-child:hover {
  border-top-left-radius: 6px;
}
.menu__burger {
  display: none;
  height: 60px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  background-color: #31363c;
  cursor: pointer;
  transition: all ease 0.3s;
}
.menu__burger span {
  height: 3px;
  width: 40px;
  position: absolute;
  display: block;
  background-color: #ffffff;
  top: 50%;
  left: 46%;
  transition: all ease 0.3s;
}
.menu__burger span::before {
  content: "";
  transform: translate(0px, 10px);
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: all ease 0.3s;
}
.menu__burger span::after {
  content: "";
  transform: translate(0px, -10px);
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: all ease 0.3s;
}

.content__slider {
  max-width: 898px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  margin: 31px auto;
}

.slider {
  max-width: 880px;
  margin: 10px;
}
.slider__item {
    overflow: hidden;
}
.content__slide {
  position: relative;
}

.content__slide-text {
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.content__slide-text p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 25px;
}

.content__slide-text span {
  display: block;
}

.slider__indicators {
  justify-content: flex-end;
  margin-right: 8px;
  margin-bottom: 20px;
}

.slider__indicators li {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
}

.slider__indicators li.active {
  background-color: transparent;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.content__info-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.content__info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 24%;
}

.content__info-title h2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #4c555e;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.content__info-text p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #7f7d77;
  text-align: center;
  padding: 0 10px;
}

.line {
  display: block;
  max-width: 900px;
  height: 1px;
  background-color: #e2e2e2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content__quote p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  font-style: italic;
  color: #7f7d77;
  text-align: center;
  padding: 0 20px;
}

.content__quote span {
  display: block;
}

.projects__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.projects__title {
  flex: 0 0 23%;
  padding-right: 10px;
}

.projects__title h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #7f7d77;
  padding-bottom: 19px;
}

.projects__title p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #7f7d77;
}

.projects__items {
  display: flex;
  flex-direction: column;
}

.projects__text p {
  font-family: Georgia;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #7f7d77;
  padding-top: 23px;
  padding-bottom: 18px;
  padding-right: 20px;
}

.projects__link a {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #4c555e;
}

.footer {
  background-color: #ededed;
}

.footer__inner {
  display: flex;
  padding: 0px 20px 30px 20px;
  justify-content: space-between;
}

.footer__about {
  flex: 0 0 30%;
}

.footer__link {
  flex: 0 0 30%;
}

.footer__newsletter {
  flex: 0 0 30%;
}

.footer__title h3 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #7f7d77;
  padding-bottom: 25px;
  padding-top: 30px;
}

.footer__text p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #7f7d77;
}

.footer a {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  color: #4c555e;
}

.footer__text a {
  padding-top: 20px;
}

.footer__post-title {
  padding-bottom: 10px;
}

.footer__post-title h4 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #7f7d77;
}

.footer__post-title p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

.footer__item {
  padding-bottom: 10px;
}

.footer__item:before {
  content: "»";
  padding-right: 5px;
}

.footer__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

.footer__item :hover {
  transition: ease-in-out 0.3s all;
  color: black;
}

.footer__form {
  padding-top: 20px;
}

.footer__form input {
  width: 100%;
  height: 31px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
}

input[type="submit"] {
  width: 80px;
  height: 31px;
  background-color: #4c555e;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
}
.footer__btn input[type="submit"]:hover {
  background-color: rgb(49, 54, 60);
  border: 2px solid #4c555e;
}
.footer__input-email {
  padding: 10px 0;
}

.footer__input-name input::-webkit-input-placeholder,
.footer__input-email input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #807d77;
}

.footer__input-name input::-moz-placeholder,
.footer__input-email input::-moz-placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #807d77;
}

.footer__input-name input:-moz-placeholder,
.footer__input-email input:-moz-placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #807d77;
}

.footer__input-name input:-ms-input-placeholder,
.footer__input-email input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #807d77;
}

.footer__contact-text p {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #7f7d77;
}

.footer__line {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bcbcbc;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.footer__copyright p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #7f7d77;
}

/* Start Media */
@media (max-width: 950px) {
  .menu__item {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu__wrapper {
    width: 100%;
  }
  .projects__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px 10px 20px;
  }
  .projects__title {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .projects__items {
    flex: 0 0 0%;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 600px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
  }
  .header__hide-header {
    bottom: -29%;
  }
  .header__account-list {
    padding-top: 0px;
    padding-bottom: 8px;
  }
  .header__search {
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    padding-top: 10px;
    padding-left: 0px;
  }
  .header__search-form {
    padding-top: 20px;
    padding-right: 0px;
  }
  .menu__wrapper {
    transform: translate(-100%, 0px);
    max-height: 0;
    opacity: 0;
    transition: ease 0.2s all;
    overflow: auto;
  }

  .menu__item {
    padding: 10px 5px;
  }
  .menu__item:first-child:hover {
    border-top-left-radius: 0;
}
  .menu__burger {
    display: block;
  }
  .show-menu span {
    height: 3px;
    width: 40px;
    position: absolute;
    display: block;
    background-color: #ffffff;
    top: 50%;
    left: 0%;
    transform: rotate(-60deg);
    transition: all ease 0.3s;
  }
  .show-menu span::before {
    content: "";
    transform: translate(0px, 10px);
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    left: 23%;
    top: 16px;
    transform: rotate(-60deg);
    background-color: #ffffff;
    transition: all ease 0.3s;
  }
  .show-menu span::after {
    display: none;
  }
  .active-menu {
    flex-direction: column;
    align-items: center;
    transition: ease 0.2s all;
    transform: none;
    max-height: inherit;
    opacity: 1;
    overflow: auto;
  }
  .content__inner {
    margin-top: 26px;
  }
  .content__slider {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .content__info-inner {
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
  .content__info-card {
    flex: 0 0 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .line {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__about {
    flex: 0 0 48%;
  }
  .footer__link {
    flex: 0 0 48%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__newsletter {
    flex: 0 0 48%;
  }
  .footer__copyright {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }
}
@media (max-width: 320px) {
  .header__inner {
    padding: 0 10px;
  }
  .header__hide-header {
    right: 0;
    bottom: -29%;
  }
  .footer__about {
    flex: 0 0 80%;
  }
  .footer__link {
    flex: 0 0 80%;
  }
  .footer__newsletter {
    flex: 0 0 80%;
  }
}
/* End Media */
